
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
}

nav {
    background-color: #333;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.main-image {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.main-image img {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.flyer-tiles {
    padding: 20px;
    text-align: center;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flyer-item {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    width: 300px; /* Adjust width as needed */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}